.main-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: rgb(56, 185, 194);
    padding: 0 1rem;
    display: flex;
    align-items: center;
}
.main-navigition_logo h1{
    margin: 0;
    font-size: 1.5rem;

}
.main-navigation_item {
margin-left: 1.5rem;
}

.main-navigation_item ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;

}
.main-navigation_item li{
   margin: 0 1rem;

}

.main-navigation_item a,
.main-navigation_item button{
    text-decoration: none;
    color: rgb(145, 116, 116);
    padding: 0.25rem,0.5rem;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;

 
 }

 .main-navigation_item a:hover,
 .main-navigation_item a:active,
 .main-navigation_item a.active,
 .main-navigation_item button:hover,
 .main-navigation_item button:active {
    background: rgb(27, 4, 4);
    color: yellow;
    border-radius: 5px;
 
 }