.auth-form{
    width: 40rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input {

    width: 100%;
    display: block;
}
.form-control {
    margin-bottom: 1rem;
}
.form-control label {
 margin-bottom: 0.5rem;   
}

.form-control {
    margin-bottom: 1rem;
}
.form-actions button{
background: rgb(46, 156, 175);
font: inherit;
border: 1px solid rgb(0, 0, 0);
border-radius: 5px;
padding: .25rem 1 rem;
margin-right: 1rem;
box-shadow: 1px 1px 5px black;
color: white;
cursor: pointer;
};

.form-actions button:hover,
.form-actions button:active {
background: rgb(255, 0, 242);

border-color:rgb(255, 0, 242);
}