.events-control {
    text-align: center;
    border: 1px solid rgb(0, 9, 128);
    padding: 1rem;
    margin: 2rem auto;
    width: 30rem;
    max-width: 80%;

}

.event_list {
    width: 40rem;
    max-width: 90%;
    margin: 2rem auto;
    list-style: none;
    padding: 0;
}

.event_list_item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid blue;

}